body{
  background-color: rgb(26, 14, 59);
  color:rgb(131, 128, 183);
  font-family: Arial; 
  text-align: center;

}

h1{
  font-size:60px;
  font-weight: bold;
  margin-top: 250px;
}
.move-icon{
  width:70px;
  height: 70px;
}
.move-button{
  background-color: transparent;
  border-width: 3px;
  border-style:solid;
  border: 3px solid rgb(255, 255, 255);
  width:120px;
  height: 120px;
  border-radius:60px ;
  margin-right: 12px;
  cursor:pointer;

}

.result{
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
}
.score{
  font-size: 30px;
  margin-top: 60px;

}
.js-moves{
  font-size: 30px
}
.reset-score-button{
  background-color: rgb(252, 226, 95);
  border: none;
  font-size:20px;
  padding: 15px 30px;
  border-radius: 5px;
  cursor:pointer;
  margin: 5px;
}
.reset-score-button:hover,
.move-button:hover{
  background-color: rgb(131, 128, 183);

}